.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: #a9b9d4;
  flex-wrap: nowrap;
  flex-direction: row;
}

.nav-section {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.nav-item {
  padding: 10px;
}

.nav-item:hover {
  color: #7b879c;
  cursor: pointer;
}

.App-header {
  background-color: #9464d1;
  height: 160px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.App-intro {
  font-size: large;
}

