.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: #a9b9d4;
  flex-wrap: nowrap;
  flex-direction: row;
}

.nav-section {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.nav-item {
  padding: 10px;
}

.nav-item:hover {
  color: #7b879c;
  cursor: pointer;
}

.search-bar {
  background-color: #f0f2f3;
  color: #a9b9d4;
  border: 1px solid #f0f2f3;
  padding: 5px;
  outline: none;
}

.search-bar:focus {
  border: 1px solid #8b8d8e;
}

.App-header {
  background-color: #9464d1;
  height: 160px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.App-body {
  font-size: large;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 9%;
  padding-top: 50px;
}

.sidebar {
  width: 20%;
  color: #9aaac4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forums {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

