i {
    padding-left: 5px;
}

.Button {
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.Button-large {
    width: 90%;
}

.Button-green {
    background-color: #29de7a;
}

.Button-grey {
    background-color: #f0f2f3;
    color: #a9b9d4;
}

.Button:hover {
    cursor: pointer;
}