.Button {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.Button-large {
    width: 90%;
}

.Button-green {
    background-color: #29de7a;
}

.Button:hover {
    cursor: pointer;
}